<ul class="list-group">
  <li class="list-group-item titleprop"><h3>Liste des Propriété</h3></li>
  <ng-template ngFor let-item [ngForOf]="propertys">
    <li class="list-group-item"
    [ngClass]="{
      'list-group-item-secondary': isEqual(item.type, 'N'),
      'list-group-item-success':   isEqual(item.type, 'I'),
      'list-group-item-primary':    isEqual(item.type, 'V'),
      'list-group-item-warning':   isEqual(item.type, 'D')
    }" ><span class="badge badge-pill badge-info"> {{item.type}} </span>{{item.name}}
      <button class="btn btn-danger btndel" (click)="deleteProperty(item)">
        <i class="fa fa-minus"></i>
      </button>
  </li>
  </ng-template>
</ul>