/* You can add global styles to this file, and also import other style files */
body {
    margin-left: 100px!important;
    margin-right: 100px!important;
}

img {
    margin-left: 100px!important;
    margin-right: 100px!important;
}
